@font-face {
    font-family: "Gilam";
    src: url("../fonts/GilamRegular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

 @font-face {
    font-family: "Gilam";
    src: url("../fonts/GilamBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilam";
    src: url("../fonts/GilamSemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/CRC55.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}