.body {
    background: #171717;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 1460px;
}

.btn {
    border: 1px solid #E4B564;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    color: #E4B564;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 116px;
}

.header__logo {
    height: 33px;
    width: 216px;
}

.header__backcall {
    padding: 10px 25px;
}

.backcall__icon {
    height: 13px;
    width: 13px;
    margin-right: 6px;
}


/* Main */

.title {
    font-size: 50px;
    line-height: 1;
}

/* Main --> Works Section */

.works__title {
    margin-bottom: 38px;
}

.works__text {
    max-width: 1182px;
    margin-bottom: 41px;
}

.works__wrapper {
    margin-bottom: 154px;
    display: grid;
    grid-template-rows: 468px 468px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 1vw;
    grid-template-areas:
  "item1 item2 item2 item3"
  "item4 item4 item5 item5"
}

.works__item {
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works__item__1 {
    background: #634F2C;
    grid-area: item1;
}

.works__item__2 {
    background: #B4A385;
    grid-area: item2;
}

.works__item__3 {
    background: #E4B564;
    grid-area: item3;
}

.works__item__4 {
    background: #635A4A;
    grid-area: item4;
}

.works__item__5 {
    background: #B08C4D;
    grid-area: item5;
}

/* Main --> Technic Section */

.technic__section {
    margin-bottom: 191px;
}

.technic__title {
    margin-bottom: 86px;
}

.technic__wrapper {
    display: grid;
    grid-template-rows: 255px 31px 92px 135px 277px;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1vw;
}

.technic__item {
    padding: 44px 50px;
    font-weight: 400;
    line-height: 1.25;
}

.technic__item > b {
    font-weight: 700;
}

.technic__item__1 {
    background: #0E0E0E;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.technic__item__2 {
    background: #242424;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
}

.technic__item__3 {
    background: #1F1F1F;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.technic__item__4 {
    background: #1F1F1F;
    grid-row: 3 / 6;
    grid-column: 1 / 2;
}

.technic__item__5 {
    background: #E4B564;
    grid-row: 4 / 6;
    grid-column: 2 / 3;
    height: 405px;
    color: #000000;
}

.technic__item__6 {
    background: #0E0E0E;
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}

.technic__item__7 {
    background: #0A0909;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

/* Main --> Clients Section */

.clients__section__background {
    background-color: #0E0E0E;
    margin-bottom: 239px;
}

.clients__section__info-title {
    margin-bottom: 61px;
    padding-top: 161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all__progects__btn {
    padding: 10px 40px;
}

.clients__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: 1fr 1fr 1fr;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__item__EiG {
    background: #634F2C;
}

.clients__item__Mavis {
    background: rgba(232, 210, 171, 0.76);
}

.clients__item__Arsenal {
    background: #E4B564;
}

.clients__item__Arsenal2 {
    background: #635A4A;
}

.clients__item__SG {
    background: #B08C4D;
}

.clients__item__EiG2 {
    background: #634F2C;
}

.clients__item__EiG img,
.clients__item__EiG2 img {
    width: 185px;
    height: 49px;
}

.clients__item__Arsenal img,
.clients__item__Arsenal2 img {
    width: 190px;
    height: 42px;
}

.clients__item__SG img {
    width: 119px;
    height: 53px;
}

.clients__item__Mavis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    text-align: center;
}

.clients__item__Mavis > b {
    font-family: 'Gilam', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.27;
}

.Mavis__logo {
    width: 62px;
    height: 55px;
    margin-bottom: 3px;
}

.Mavis__logo2 {
    width: 139px;
    height: 55px;
    margin-bottom: 16px;
}

